.box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
  }
  
  .box {
    background-color: #ddd;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
  
  }

  #Titel {
    text-align: center;
    font-family: "Lato", sans-serif;
  }

  #menu {
    text-align: center;
    font-family: "Lato", sans-serif;

  }

  .gesamtpreis {
    background-color: #eee;
    padding: 20px;
    text-align: right;
  }

  #result {
    font-size: 24px; 
  }

  #bild {
    width: 250px;
    height: 150px;
  }